@charset "UTF-8";

/* ◆全体設定◆ */
body {
	font-family: "Trebuchet MS", "Verdana", "游ゴシック", YuGothic, "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
	background-color: #FFFFFF;
	margin: 0;
}
/* ◆全体の規定値◆ */
.container {
	width: 83%;
	height: auto;
	margin-left: 0;
	margin-right: 2%;
	background-color: #FFFFFF;
}
/* ===================================================================== */
/* ◆ヘッダー◆ */
header {
	width: 100%;
	background-color: #5d5e5d;	
	border-bottom: 3px solid #FFFFFF;
}
/* 一番上のタイトル文字 */
.logo {
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 2em;
	font-size: 36px;
}

.logo h3{
	color: #fff;
	margin-left: auto;
	letter-spacing: 0.5em;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 36px;
}

.logo h4{
	color: #fff;
	font-weight: normal;
	margin-left: auto;
	letter-spacing: 0.5em;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 48px;
}

/* 一番上のタイトル画像 */
.title {
	width: auto;
	height: auto;
	max-height: 400px;
/*	text-align: center;	*/
	background-image: url("images/game05_01.png");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #fff;			
	text-align: center;
}

/* ===================================================================== */
/* ◆ここから中身の指定◆ */
/* 未使用　後から追加したいときのために保持 */
.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}

/* 画像欄の全体設定 */
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 35px;
	margin-top: -5px;
	margin-bottom: 0px;
}

/* 画像欄の上の文字　screenshot */
.gallery h3 {
	margin-top: 25px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	color: #52BAD5;
	background-color: #F8F8F8;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 2px;
	border-bottom: 3px solid #6DC7D0;
	border-radius: 3px;
}

/* ===================================================================== */
/* ◆画像の設定◆ */
.thumbnail {
	width: 23%;
	text-align: center;
	float: left;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #F8F8F8;
	padding-top: 10px;
	padding-bottom: 8px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	border-bottom: 4px solid #6DC7D0;
}
/* 画像のサイズ指定　絶対に消すな */
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 400px;
	padding-bottom: 7px;
/*	opacity: 0.8; */
}

/* 画像下にテキストを入力したい場合は、下のpタグを有効にすれば入れられるが */
/* ウィンドウサイズが変わるとレイアウトがガタガタになるので非推奨 */

.gallery p {
	margin: 0;
	color: #b3b3b3;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	font-size: 1.3em;
}

.gallery p:hover {
	text-decoration: underline;
}

/* 未使用 */
.gallery h4 {
	color: #52BAD5;
	text-align: center;
	padding-left: 30px;
	padding-right: 20px;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}
/* ===================================================================== */
/* ◆動画の設定◆ */
/* 動画の最大サイズ指定 */
.video{
	position: relative;
	width: 60%;
	max-width: 600px;
	margin-left: 20px;
	aspect-ratio: 16 / 9;	/* アスペクト比を16:9で固定 */
}

/* Youtube埋め込み用の設定 */
.video iframe{
	width: 100%;
	height: 100%;
}
/* ===================================================================== */
/* ◆概要欄の設定◆ */
.intro {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
	display: inline-block;
	background-color: #6DC7D0;
}
.overview {
	width: 100%;
	text-align: left;
	padding-top: 20px;
	padding-left: 30px;
	float: left;
}
/* ゲームの概要　の文字設定 */
.intro .overview h3 {
	color: #FFFFFF;
	text-align: left;
	padding-left: 30px;
}
/* ゲームの概要　本文中の文字設定 */
.intro .overview p {
	color: #FFFFFF;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}

/* コピーライト */
/*
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
*/
/* ===================================================================== */
/* ◆フッター全体の規定値◆ */
footer {
	background-color: #b3b3b3;
	padding-top: 60px;
	padding-bottom: 60px;
}
/* フッター　一番下の文字色 */
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
}

/* ===================================================================== */
/* ◆サイドバーの設定◆ */
.side {
	width: 14%;
	text-align: left;
	padding-top: 30px;
	padding-left: 16px;
	margin-left: 2%;
	background-color: #F8F8F8;
	border-right: 2px solid #FFFFFF ;
	color: #5D5E5D;
}

.side h3 {
	color: #6DC7D0;
	font-size: 21px;
	font-weight: lighter;
	margin-top: 20px;
	margin-bottom: 4px;
}

/* 分割 */
article {
	display: flex;
	margin-top: 15px;
	margin-bottom: 4px;
}

/* 	==============================
	ここからサイドメニュー関係
　	==============================　 */

.pc_nav ul {
	list-style: none;
	border-top: 2px solid #6DC7D0;
	border-bottom: 2px solid #6DC7D0;
	border-radius: 2px 0px 0px 2px;
	padding-left: 35px;
}

.pc_nav ul li {
	padding-top: 16px;
	padding-bottom: 8px;
}

.pc_nav ul li a {
	text-decoration: none;
	color: #B3B3B3;
	font-size: 17px;
}

.pc_nav ul li a:hover {
	text-decoration: underline;
}

.pc_nav h3 a {
	text-decoration: none;
	color: #6DC7D0;
}

.pc_nav h3 a:hover {
	text-decoration: underline;
}

#menu_btn_check {
	display: none;
}
/* sp用メニュー */

.sp_nav {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
	right: 100%;
	color: #FFFFFF;
	background-color: #6DC7D0;
}
.sp_nav ul {
	padding: 70px 40px 0;
	list-style: none;
}
sp_nav ul li {
	border-bottom: solid 1px #FFFFFF;
}
.sp_nav ul li a {
	display: block;
	width: 100%;
	font-size: 17px;
	text-align: left;
	text-decoration: none;
	box-sizing: border-box;
	border-bottom: solid 1px #FFFFFF;
	color: #FFFFFF;
	padding: 10px 0 10px 3%;
	position: relative;
}
.sp_nav ul li a::before {
	content: "";
	width: 10px;
	height: 10px;
    border-top: solid 2px #FFFFFF;
    border-right: solid 2px #FFFFFF;
	transform: rotate(45deg);
	position: absolute;
	right: 10px;
	top: 16px;
}

/* ===================================================================== */

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_overview {
	width: 100%;
	text-align: justify;
	padding: 0;
}
.intro .overview p {
	width: 80%;
	margin-left: 0px;
}
.text_overview {
	padding-left: 20px;
}
.thumbnail {
	width: 100%;
}
.overview {
	width: 100%;
	margin-top: 0px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}

/* 	==============================
	ここからサイドメニュー関係
　	==============================　 */
.side {
	display: none;
}
.container {
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* ≡　これ */
.menu_btn {
	position: fixed;
	top: 30px;
	left: 6%;
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto auto 0;
	z-index: 70;
}
.menu_btn span,
.menu_btn span::before,
.menu_btn span::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	background-color: #FFFFFF;
	z-index: 20;
}
.menu_btn span::before {
	bottom: 10px;
}
.menu_btn span::after {
	top: 10px;
}
/* sp用メニュー */
.sp_nav {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
	right: 100%;
	color: #FFFFFF;
	background-color: #6DC7D0;
}
.sp_nav ul {
	padding: 70px 40px 0;
	list-style: none;
}
sp_nav ul li {
	border-bottom: solid 1px #FFFFFF;
}
.sp_nav ul li a {
	display: block;
	width: 100%;
	font-size: 17px;
	text-align: left;
	text-decoration: none;
	box-sizing: border-box;
	border-bottom: solid 1px #FFFFFF;
	color: #FFFFFF;
	padding: 10px 0 10px 3%;
	position: relative;
}
.sp_nav ul li a::before {
	content: "";
	width: 10px;
	height: 10px;
    border-top: solid 2px #FFFFFF;
    border-right: solid 2px #FFFFFF;
	transform: rotate(45deg);
	position: absolute;
	right: 10px;
	top: 16px;
}
/* 　≡　→　×　 */
#menu_btn_check:checked ~ .menu_btn span {
	background-color: rgba(225, 225, 225, 0);
}
#menu_btn_check:checked ~ .menu_btn span::before {
	bottom: 0;
	transform: rotate(45deg);
}
#menu_btn_check:checked ~ .menu_btn span::after {
	top: 0;
	transform: rotate(-45deg);
}
#menu_btn_check:checked ~ .sp_nav {
	right: 0;
	transition: all .5s ease-in-out;
}
#menu_btn_check {
	display: none;
}
/* 	==============================
	ここまでサイドメニュー関係
　	==============================　 */
}
/* ===================================================================== */

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_overview {
	width: 100%;
	text-align: left;
	padding: 0;
}
.thumbnail {
	width: 100%;
}
.overview {
	width: 100%;
	margin-top: 0px;
}
.thumbnail {
	width: 100%;
}
.text_overview {
	padding-left: 20px;
	padding-right: 20px;
	width: 90%;
}
.overview {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.profile {
	width: 100%;
}
.intro .overview p {
	width: 90%;
	text-align: center;
	padding-left: 0px;
}
/* 	==============================
	ここからサイドメニュー関係
　	==============================　 */
.side {
	display: none;
	}
.container {
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	}

/* ≡　これ */
.menu_btn {
	position: fixed;
	top: 30px;
	left: 6%;
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto auto 0;
	z-index: 70;
	}
.menu_btn span,
.menu_btn span::before,
.menu_btn span::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	background-color: #FFFFFF;
	z-index: 20;
	}
.menu_btn span::before {
	bottom: 10px;
	}
.menu_btn span::after {
	top: 10px;
	}
/* sp用メニュー */
.sp_nav {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
	right: 100%;
	color: #FFFFFF;
	background-color: #6DC7D0;
	}
.sp_nav ul {
	padding: 70px 40px 0;
	list-style: none;
	}
sp_nav ul li {
	border-bottom: solid 1px #FFFFFF;
	}
.sp_nav ul li a {
	display: block;
	width: 100%;
	font-size: 17px;
	text-align: left;
	text-decoration: none;
	box-sizing: border-box;
	border-bottom: solid 1px #FFFFFF;
	color: #FFFFFF;
	padding: 10px 0 10px 3%;
	position: relative;
	}
.sp_nav ul li a::before {
	content: "";
	width: 10px;
	height: 10px;
    border-top: solid 2px #FFFFFF;
    border-right: solid 2px #FFFFFF;
	transform: rotate(45deg);
	position: absolute;
	right: 10px;
	top: 16px;
	}
/* 　≡　→　×　 */
#menu_btn_check:checked ~ .menu_btn span {
	background-color: rgba(225, 225, 225, 0);
	}
#menu_btn_check:checked ~ .menu_btn span::before {
	bottom: 0;
	transform: rotate(45deg);
	}
#menu_btn_check:checked ~ .menu_btn span::after {
	top: 0;
	transform: rotate(-45deg);
	}
#menu_btn_check:checked ~ .sp_nav {
	right: 0;
	transition: all .5s ease-in-out;
	}
#menu_btn_check {
	display: none;
	}
/* 	==============================
	ここまでサイドメニュー関係
　	==============================　 */
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_overview {
	width: 100%;
}
.thumbnail {
	width: 48%;
}
.text_overview {
	width: 90%;
	margin: 0;
	padding: 20px;
}
.intro .overview p {
	width: 80%;
}

/* 	==============================
	ここからサイドメニュー関係
　	==============================　 */
.side {
	display: none;
}
.container {
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* ≡　これ */
.menu_btn {
	position: fixed;
	top: 30px;
	left: 6%;
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto auto 0;
	z-index: 70;
	}
.menu_btn span,
.menu_btn span::before,
.menu_btn span::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	background-color: #FFFFFF;
	z-index: 20;
	}
.menu_btn span::before {
	bottom: 10px;
	}
.menu_btn span::after {
	top: 10px;
	}
/* sp用メニュー */
.sp_nav {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
	right: 100%;
	color: #FFFFFF;
	background-color: #6DC7D0;
}
.sp_nav ul {
	padding: 70px 40px 0;
	list-style: none;
}
sp_nav ul li {
	border-bottom: solid 1px #FFFFFF;
}
.sp_nav ul li a {
	display: block;
	width: 100%;
	font-size: 17px;
	text-align: left;
	text-decoration: none;
	box-sizing: border-box;
	border-bottom: solid 1px #FFFFFF;
	color: #FFFFFF;
	padding: 10px 0 10px 3%;
	position: relative;
}
.sp_nav ul li a::before {
	content: "";
	width: 10px;
	height: 10px;
    border-top: solid 2px #FFFFFF;
    border-right: solid 2px #FFFFFF;
	transform: rotate(45deg);
	position: absolute;
	right: 10px;
	top: 16px;
}
/* 　≡　→　×　 */
#menu_btn_check:checked ~ .menu_btn span {
	background-color: rgba(225, 225, 225, 0);
}
#menu_btn_check:checked ~ .menu_btn span::before {
	bottom: 0;
	transform: rotate(45deg);
}
#menu_btn_check:checked ~ .menu_btn span::after {
	top: 0;
	transform: rotate(-45deg);
}
#menu_btn_check:checked ~ .sp_nav {
	right: 0;
	transition: all .5s ease-in-out;
}
#menu_btn_check {
	display: none;
}
/* 	==============================
	ここまでサイドメニュー関係
　	==============================　 */
}